/*
@font-face {
    font-family: Rai;
    src: url('./font/Rai.ttf');
}

*/
.part {
  width: 100%;
}

.left {
  text-align: left;
}

.h1 {
  font-size: 5em;
}

.flex-bottom {
  display: flex;
  justify-content: space-between;
}

@keyframes dangle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dance {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.dance {
  animation: dangle 1.5s infinite;
}

.dangle {
  animation: dance 1.5s infinite;
}

.partner {
  margin: 7em 0 3em;
  color: black;

  h2 {
    margin: 3em 0;
  }
}
.map-items {
  margin: 5em 0;
  color: black;
  font-weight: 300;

  padding: 1em;
  text-align: center;

  h6 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }
}

.info-box {
  display: flex;
  align-items: end;
  @media screen and (max-width: 600px) {
    display: block;
    & > div {
      margin-top: 20px;
    }
  }
}

.item-team {
  display: flex;
  max-width: 1027px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: space-around;
  @media screen and (max-width: 598px) {
  }
  .team-member {
    width: 299px;
    @media screen and (max-width: 598px) {
      p:nth-child(2) {
        font-size: 0.9em !important;
      }
      p:nth-child(3) {
        font-size: 0.6em !important;
      }
      img {
        width: 90px;
      }
      width: 200px;
    }
    @media screen and (max-width: 448px) {
      width: 150px;
    }
  }
}

.p2p {
  width: 80%;
  color: white;
  position: relative;
  margin: 10em 0;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.topper {
}

.adjust {
  margin: 0 auto !important;
}
.peerText {
  margin: 5em 0;
}

.phone-cloud {
  position: absolute;
  top: -4em;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .footer-foot {
    flex-direction: column;
    // text-align: center;
  }

  .p2p {
    width: 90%;
    height: 100%;
  }

  .dance {
    margin: 2em 0 !important;
  }

  .font-top {
    color: black !important;
    display: block !important;
  }

  .btn-sm {
    width: 100% !important;
  }

  .h1 {
    font-size: 3em !important;
    line-height: 1.5;
  }

  .left {
    text-align: center;
  }
}
@media screen and (max-width: 970px) {
  .flex-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}
.alrights {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 436px) {
    display: block;
  }
}
