.map-items {
     
    margin: 5em 0;
    color: black;
    font-weight: 300;
 
    padding: 1em;
    text-align: center;

    h6 {
        font-weight: 300;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }

}

.item-team {

    //display flex amd flex wrap

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    width: 65%;
    gap: 3em;
    justify-content: center;

    

}

.p2p {
    width: 80%;
    color: white;
    position: relative;
    margin: 10em 0;

    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
}


.topper {
   
}

.adjust {
     margin: 0 auto !important;
}
.peerText {
    margin: 5em 0;
}

.phone-cloud {
    position: absolute;
    top: -4em;
    width: 90%;
    margin: 0 auto;
    
}


//for small screens 
@media screen and (max-width: 600px) {
    .p2p {
        width: 90%;
        height: 100%;
       
    }

    //team section for mobile phone 
    .item-team {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}
